################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/SwebONE/v16
/packages
/SmoONE.Application/bin/Debug
/SmoONE.Application/.vs/SmoONE.Application/v15
/SmoONE.Application/obj/Debug
/SmoONE.CommLib/obj/Debug
/SmoONE.CommLib/bin/Debug
/SmoONE.Domain/bin/Debug
/SmoONE.Domain/obj/Debug
/SmoONE.DTOs/bin/Debug
/SmoONE.DTOs/obj/Debug
/SmoONE.Repository/bin/Debug
/SmoONE.Repository/obj/Debug
/SmoONE.StatisticsService/bin/Debug
/SmoONE.StatisticsService/obj/Debug
/SwebONE/obj/Debug
/SmoONE.Infrastructure/bin/Debug
/SmoONE.Infrastructure/obj/Debug
/SwebONE/bin/Debug/DeveloperTrace
/SwebONE/bin/Debug/TopSdk.dll
/SwebONE/bin/Debug/Swebui.Core.xml
/SwebONE/bin/Debug/Swebui.Core.dll
/SwebONE/bin/Debug/Swebui.Controls.xml
/SwebONE/bin/Debug/Swebui.Controls.dll
/SwebONE/bin/Debug/SwebONE.pdb
/SwebONE/bin/Debug/SwebONE.exe.config
/SwebONE/bin/Debug/SwebONE.exe
/SwebONE/bin/Debug/SmoONE_StatisticsServiceLog(2021-12-06).txt
/SwebONE/bin/Debug/SmoONE_StatisticsServiceLog(2021-11-26).txt
/SwebONE/bin/Debug/SmoONE.StatisticsService.pdb
/SwebONE/bin/Debug/SmoONE.StatisticsService.exe.config
/SwebONE/bin/Debug/SmoONE.StatisticsService.exe
/SwebONE/bin/Debug/SmoONE.Repository.pdb
/SwebONE/bin/Debug/SmoONE.Repository.dll.config
/SwebONE/bin/Debug/SmoONE.Repository.dll
/SwebONE/bin/Debug/SmoONE.Infrastructure.pdb
/SwebONE/bin/Debug/SmoONE.Infrastructure.dll.config
/SwebONE/bin/Debug/SmoONE.Infrastructure.dll
/SwebONE/bin/Debug/SmoONE.DTOs.pdb
/SwebONE/bin/Debug/SmoONE.DTOs.dll
/SwebONE/bin/Debug/SmoONE.Domain.pdb
/SwebONE/bin/Debug/SmoONE.Domain.dll.config
/SwebONE/bin/Debug/SmoONE.Domain.dll
/SwebONE/bin/Debug/SmoONE.CommLib.pdb
/SwebONE/bin/Debug/SmoONE.CommLib.dll
/SwebONE/bin/Debug/SmoONE.Application.pdb
/SwebONE/bin/Debug/SmoONE.Application.dll.config
/SwebONE/bin/Debug/SmoONE.Application.dll
/SwebONE/bin/Debug/Setting.config
/SwebONE/bin/Debug/EntityFramework.xml
/SwebONE/bin/Debug/EntityFramework.SqlServer.xml
/SwebONE/bin/Debug/EntityFramework.SqlServer.dll
/SwebONE/bin/Debug/EntityFramework.dll
/SwebONE/bin/Debug/AutoMapper.xml
/SwebONE/bin/Debug/AutoMapper.dll
/SwebONE/bin/Debug/Autofac.xml
/SwebONE/bin/Debug/Autofac.dll
